<a href="https://colab.research.google.com/github/janmenjaya08/2001206100_ECE/blob/main/04_02_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#using Arithmetic operators and Comparision operators
a=5
b=2
print('a/b=',a/b)
print('a//b=',a//b)
print('a**b=',a**b)
print('a<b=',a<b)
print('a>b=',a>b)

a/b= 2.5
a//b= 2
a**b= 25
a<b= False
a>b= True

In [9]:
#using Logical Operators
a=True
print('not A=',not a)
b=False
print('not B=',not b)

not A= False
not B= True

In [12]:
#Using Bitwise Operator
a=2
b=3
c=a<<b
print(c)

16

In [13]:
#using IDENTity OPERATOR(is and is not)
a=5
b=5
print(' a is b',a is b)
print(' a is not b', a is not b)
x='cse'
y='ece'
print('x is y',x is y)
print('x is not y',x is not y)

 a is b True
 a is not b False
x is y False
x is not y True

In [17]:
#Using membership operator(in and not in)
a='hello ECE'
print(' A in a' , 'h' in a)

 A in a True

In [34]:
num=int(input("enter a num"))
if num%2==0:
 print("num is even")
else:
 print("num is odd")

enter a num30
num is even

In [40]:
num=int(input("enter a num"))
if num==50:
  print('num is equal to 50')
elif num==60:
 print("num is equal to 60")
elif num==100:
 print("num is equal to 100")
else:
 print(" num is not equal to 50, 60&100")

enter a num100
num is equal to 100